<div class="register-container">
  <div class="register-card">
    <h2>Create Account</h2>
    <p class="subtitle">Join our Book Store today</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <span>
          <label for="userName">Full Name</label>
          <input type="text" id="userName" formControlName="userName" placeholder="e.g. Shubham Bolave"
            [class.is-invalid]="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" />
          @if (registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched) {
          <small class="error-text">Name is required.</small>
          }
        </span>

        <span>
          <label for="email">Email Address</label>
          <input type="email" id="email" formControlName="email" placeholder="name@example.com"
            [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" />
          @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          <small class="error-text">Please enter a valid email.</small>
          }
        </span>
      </div>

      <div class="form-group">
        <span>
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="********"
            [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" />
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <small class="error-text">Password is required.</small>
          }
        </span>

        <span>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="********"
            [class.is-invalid]="(registerForm.errors?.['passwordMismatch'] || registerForm.get('confirmPassword')?.invalid) && registerForm.get('confirmPassword')?.touched" />

          @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched) {
          <small class="error-text">Passwords do not match.</small>
          }
        </span>
      </div>

      <button type="submit" [disabled]="registerForm.invalid">Register</button>

      <div class="footer-link">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </form>
  </div>
</div>