:root {
    --primary: #00444f;
    --primary-hover: #00889d;

    --bg-body: #005461;
    --bg-card: #018790;

    --text-main: #F4F4F4;
    --text-muted: #00B7B5;

    --danger: #ef4444;
    --success: #22c55e;


    --radius: 8px;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    --container-max-width: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.6;
}


// Utility CSS
.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.2rem;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    text-decoration: none;

    &.btn-primary {
        background-color: var(--primary);
        color: white;

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    &.btn-outline {
        background-color: transparent;
        border: 1px solid var(--text-muted);
        color: var(--text-main);

        &:hover {
            background-color: #f1f5f9;
            border-color: var(--primary);
            color: var(--primary);
            text-shadow: 1px 1px 5px var(--text-main);
        }
    }
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbd5e1;
    border-radius: var(--radius);
    margin-bottom: 1rem;
    font-size: 1rem;

    &:focus {
        outline: 2px solid var(--primary);
        border-color: transparent;
    }
}