<div class="container page-container">
    <div class="breadcrumb">
        <a routerLink="/books" class="back-link">Back to Library</a>
    </div>

    @if (store.loading()) {
    <div class="center-state">
        {{ store.error() }}
        <a routerLink="/books" class="btn btn-outline">Go Home</a>
    </div>
    }

    @if (selectedBook(); as book) {
    <div class="details-grid">
        <div class="image-column">
            <img [src]="book.image" [alt]="book.title" class="book-cover" />
        </div>

        <div class="info-column">
            <h1 class="title">{{ book.title }}</h1>
            <h3 class="author">by {{ book.author }}</h3>
            @if (book.description) {
            <div class="description">
                <h3>About the Book</h3>{{ book.description }}
            </div>
            }
            <div class="price-tag">{{ book.price | currency: 'INR' : 'symbol':'1.2-2'}}</div>

            <div class="actions">
                @if (book.quantity > 0) {
                <button class="btn btn-primary btn-lg" (click)="onAddToCart(book)">
                    Add to Cart
                </button>
                <button class="btn btn-outline btn-lg" (click)="onBuyNow(book)">
                    Buy Now
                </button>
                } @else {
                <button class="btn btn-primary btn-lg" disabled style="opacity: 0.6; cursor: not-allowed">
                    Out of Stock
                </button>
                }
            </div>
            <p class="stock">
                {{ book.quantity > 10 ? 'In Stock' : 'Only ' + book.quantity + ' left!' }}
            </p>
        </div>
    </div>
    }
</div>