.page-container {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.breadcrumb {
  margin-bottom: 2rem;
  
  .back-link {
    color: var(--text-muted);
    font-weight: 500;
    transition: color 0.2s;
    
    &:hover {
      color: var(--text-main);
    }
  }
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 3rem;

  @media (min-width: 768px) {
    grid-template-columns: 350px 1fr;
    align-items: start;
  }
}


.image-column {
  background: var(--bg-card);
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: var(--shadow);
  
  .book-cover {
    width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
  }
}


.info-column {
  text-shadow: 3px 3px 5px #002a32;

  .title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--text-main);
  }

  .author {
    font-size: 1.25rem;
    color: var(--text-muted);
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .description{
    h3{
      text-decoration: underline;
    }
  }

  .price-tag {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-main);
    margin-bottom: 2rem;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  .btn-lg {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
  }
}

.stock{
  color: red; 
  margin-top: 0.5rem;
  text-decoration: underline red;
}